*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a {
	cursor: pointer;
	text-decoration: none;
}

html {
	font-size: 62.5%;
}

body {
	color: #000;
	font-family: "Noto Sans JP", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

.l-inner,
.l-inner--large {
	margin-left: auto;
	margin-right: auto;
	max-width: 144rem;
	padding-left: 12rem;
	padding-right: 12rem;
}

.l-inner--large {
	padding-left: 11rem;
	padding-right: 11.5rem;
}

.l-header {
	left: 0;
	position: fixed;
	top: 0;
	z-index: 100;
}

.l-main {
	overflow: hidden;
}

.c-roundBtn--small .c-roundBtn__link {
	font-size: 1.6rem;
	max-width: 15.7rem;
	padding: 0.8rem 0.3rem 0.8rem 0.31rem;
}

.c-roundBtn__link {
	border-radius: 5.2rem;
	color: #fff;
	display: block;
	display: flex;
	font-size: 2rem;
	font-weight: 500;
	justify-content: center;
	line-height: normal;
	max-width: 31.1rem;
	padding: 1.9rem 5.5rem 2.3rem 5.6rem;
	position: relative;
}

.c-roundBtn__link::before {
	background: linear-gradient(90deg, #599AE0 0%, #B7E7DC 100%);
	border-radius: 5.2rem;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: 0.5s;
	width: 100%;
	z-index: -1;
}

.c-roundBtn__link::after {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(90deg, #599AE0 0%, #B7E7DC 100%);
	border-radius: 5.2rem;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
}

.c-sns {
	width: -moz-fit-content;
	width: fit-content;
}

.c-sns__read {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}

.c-sns__read::before,
.c-sns__read::after {
	background-color: #000;
	content: "";
	height: 1em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 2px;
}

.c-sns__read::before {
	left: -1rem;
	transform: translateY(-44%) rotate(-32deg);
}

.c-sns__read::after {
	right: -1rem;
	transform: translateY(-44%) rotate(32deg);
}

.c-sns__list {
	align-items: center;
	display: flex;
	gap: 2rem;
	justify-content: center;
	margin-top: 1rem;
}

.c-sns__link {
	display: block;
	transition: opacity 0.3s;
}

.c-secondHeading,
.c-secondHeading--fzLargeSP {
	color: #000;
	font-size: 3.6rem;
	font-weight: 700;
	line-height: normal;
	margin-left: -2rem;
	text-align: center;
}

.p-header {
	align-items: center;
	background: rgba(255, 255, 255, 0.7);
	display: flex;
	height: 8rem;
	width: 100%;
}

.p-header::after {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	content: "";
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

.p-header__inner {
	align-items: center;
	display: flex;
	margin-top: 1rem;
	width: 100%;
}

.p-header__logoLink {
	color: #000;
	display: block;
	transition: opacity 0.4s;
	width: 18.6rem;
}

.p-header__logoImg {
	width: 100%;
}

.p-header__nav {
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;
}

.p-header__list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 2.8rem;
	margin-left: auto;
}

.p-header__itemLink {
	display: block;
}

.p-header__conversion {
	margin-left: 2.8rem;
	min-width: 15.7rem;
}

/*==================================================
中心から外に線が伸びる（下部）
===================================*/

.p-header__itemLink { /*線の基点とするためrelativeを指定*/
	position: relative;
}

.p-header__item.current a,
.p-header__item a:hover { /*hover時のブレイクポイント処理忘れない*/
	color: inherit;
}

.p-header__itemLink::after {
	background: #000;
	bottom: -0.8rem;
	content: "";
	height: 1px;
	left: 10%; /*絶対配置で線の位置を決める*/
	position: absolute;
	transform: scale(0, 1); /*X方向0、Y方向1*/
	transform-origin: center top; /*上部中央基点*/ /*アニメーションの指定*/
	transition: all 0.3s; /*線の形状*/
	width: 80%;
}

/*現在地とhoverの設定*/

.p-header__item.current a::after,
.p-header__itemLink:hover::after {
	transform: scale(1, 1); /*X方向にスケール拡大*/
}

.p-drower {
	margin-left: auto;
	position: relative;
	z-index: 100; /* ドロワー共通CSS */ /* アイコン位置 */ /* アイコン */ /* ナビゲーションのためのCSS */ /* ナビゲーション */
}

.p-drower__list {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: center;
	margin-top: 3.2rem;
}

.p-drower__link {
	color: #707070;
	font-size: 2rem;
	font-weight: 500;
	line-height: normal;
}

.p-drower__listArea {
	height: 100%;
	overflow: auto;
	padding: 0 2.5rem;
	padding-bottom: 5rem;
}

.p-drower__btnArea {
	margin-top: 2.8rem;
}

.p-drower__snsArea {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}

.p-drower__iconBox {
	cursor: pointer;
	height: 2.3rem;
	margin-left: auto;
	position: relative;
	width: 3.1rem;
	z-index: 100;
}

.p-drower__icon {
	background-color: #000;
	border-radius: 10px;
	display: inline-block;
	height: 0.3rem;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.4s;
	width: 100%;
}

.p-drower__icon::before,
.p-drower__icon::after {
	background-color: #000;
	border-radius: 10px;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	transition: all 0.4s;
	width: 100%;
}

.p-drower__icon::before {
	top: -1rem;
}

.p-drower__icon::after {
	top: 1rem;
}

.js-openbtn.active .p-drower__icon {
	background-color: transparent;
	transition: all 0.4s;
}

.js-openbtn.active .p-drower__icon::before {
	background-color: #000;
	left: 0;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}

.js-openbtn.active .p-drower__icon::after {
	background-color: #000;
	left: 0;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

.p-drower__list { /* ナビゲーション天地中央揃え */
}

/* ナビゲーションの縦スクロール */

#js-g-nav.panelactive .p-drower-listArea {
	-webkit-overflow-scrolling: touch;
	height: 100%;
	overflow: auto; /* ナビの数が増えた場合の縦スクロール処理 */
	position: fixed;
	width: 100%;
	z-index: 90;
}

/* ここまで ドロワー共通CSS */

.p-drower__nav {
	background: #fff;
	height: calc(100% - 5.6rem); /* ナビの高さ */ /* position: fixd;にし、z-indexの数値を大きくして前面へ */
	position: fixed;
	right: -120%; /* ナビのスタート位置と形状 */
	top: 5.6rem; /* 動き */
	transition: all 0.6s;
	width: 100%;
	z-index: 90;
}

/* アクティブクラスがついたら位置を0に */

#js-g-nav.panelactive {
	right: 0;
}

.top {
	position: relative;
}

.top::after {
	content: "";
	transition: 0.7s;
}

.top.is-active {
	position: fixed;
}

.top.is-active::after {
	background-color: rgba(0, 0, 0, 0.15);
	display: block;
	height: 100vh;
	left: 0;
	position: absolute;
	top: 5.6rem;
	width: 100%;
}

.p-mv {
	overflow-x: hidden;
	position: relative;
}

.p-mv__inner {
	margin-top: 9.8rem;
}

.p-mv__col {
	display: flex;
	gap: 3.5rem;
}

.p-mv__txtContainer {
	margin-top: 2rem;
}

.p-mv__read {
	color: #000;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: normal;
}

.p-mv__mainText {
	color: #000;
	font-size: 4rem;
	font-weight: 700;
	line-height: normal;
	margin-top: 0.8rem;
}

.p-mv__mainTextLarge {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(123deg, #F6BC42 23.19%, #FF5C00 76.81%);
	background-clip: text;
	font-size: 4rem;
	font-weight: 700;
	line-height: normal;
	margin-top: 0.8rem;
}

.p-mv__pointList {
	align-items: center;
	display: flex;
	gap: 2rem;
	margin-top: 3.8rem;
}

.p-mv__pointItem {
	align-items: center;
	background: linear-gradient(143deg, #FCE3E4 5.3%, #00A2E8 94.7%);
	border-radius: 0.9rem;
	display: flex;
	flex-direction: column;
	height: 11.7rem;
	justify-content: center;
	width: 11.7rem;
}

.p-mv__pointText,
.p-mv__pointText--mtLarge {
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
	line-height: normal;
	text-align: center;
}

.p-mv__pointText--mtLarge {
	margin-top: 1rem;
}

.p-mv__pointTextLarge {
	display: block;
	font-size: 2.4rem;
}

.p-mv__pointTextSmall {
	display: block;
	font-size: 1.8rem;
}

.p-mv__btnContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 3.9rem;
	width: -moz-fit-content;
	width: fit-content;
}

.p-mv__btnText {
	color: #000;
	font-size: 2rem;
	font-weight: 500;
	line-height: normal;
	margin-left: 2rem;
	position: relative;
}

.p-mv__btnText::before,
.p-mv__btnText::after {
	background-color: #65A4E0;
	content: "";
	height: 1.1em;
	position: absolute;
	top: 50%;
	width: 3px;
}

.p-mv__btnText::before {
	left: -2rem;
	transform: translateY(-50%) rotate(-30deg);
}

.p-mv__btnText::after {
	right: -0.6rem;
	transform: translateY(-50%) rotate(30deg);
}

.p-mv__btnBox {
	margin-top: 0.8rem;
}

.p-mv__imgContainer {
	flex: 1;
	margin-right: calc(50% - 50vw);
	max-width: 76rem;
}

.p-mv__img {
	width: 100%;
}

.p-mv__bgImgLeftSP {
	left: 0.4rem;
	max-width: 9rem;
	position: absolute;
	top: 5.6rem;
	width: 100%;
	z-index: -1;
}

.p-mv__bgImgRightSP {
	max-width: 6rem;
	position: absolute;
	right: 0.3rem;
	top: 14.4rem;
	width: 100%;
	z-index: -1;
}

.p-about {
	margin-top: 6.2rem;
	overflow-x: hidden;
}

.p-about__inner {
	position: relative;
}

.p-about__col {
	align-items: center;
	display: flex;
	gap: 7.5rem;
	margin-left: 4rem;
	margin-top: 5.2rem;
	position: relative;
}

.p-about__colImgBox {
	max-width: 48.7rem;
	width: 100%;
}

.p-about__colImg {
	width: 100%;
}

.p-about__colContents {
	max-width: 50rem;
}

.p-about__colTitle {
	color: #000;
	font-size: 3.2rem;
	font-weight: 400;
	line-height: normal;
}

.p-about__colText {
	color: #000;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 3.3rem;
	margin-top: 2.6rem;
}

.p-about__colBgImg {
	left: -14.5rem;
	max-width: 19.4rem;
	position: absolute;
	top: -7.5rem;
	width: 100%;
	z-index: -1;
}

.p-about__listArea {
	background-color: #EBF3F6;
	margin-top: 8.1rem;
	padding: 6.5rem 2% 5.1rem;
	position: relative;
}

.p-about__listHeading {
	align-items: center;
	color: #000;
	display: flex;
	font-size: 3.2rem;
	font-weight: 500;
	gap: 3.6rem;
	justify-content: center;
	line-height: normal;
	position: relative;
	text-align: center;
}

.p-about__listHeading::before,
.p-about__listHeading::after {
	background-color: #000;
	content: "";
	display: block;
	height: 1px;
	width: 10.1rem;
}

.p-about__listHeading::before {
	left: 0;
}

.p-about__listHeading::after {
	right: 0;
}

.p-about__list {
	display: flex;
	gap: 9rem;
	justify-content: center;
	margin: 0 auto;
	margin-top: 6.5rem;
	max-width: 82.1rem;
}

.p-about__item {
	display: flex;
	flex: 1;
	flex-direction: column;
	min-height: 38.6rem;
}

.p-about__head {
	max-width: 20rem;
	width: 100%;
}

.p-about__headImg {
	width: 100%;
}

.p-about__body {
	margin-top: 2.5rem;
}

.p-about__bodyTitle {
	color: #000;
	font-size: 2rem;
	font-weight: 500;
	line-height: normal;
	text-align: center;
}

.p-about__bodyText {
	color: #000;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: normal;
	margin: 0 auto;
	margin-top: 1.3rem;
}

.p-about__listBgImg {
	max-width: 15.9rem;
	position: absolute;
	right: -9.1%;
	top: -21%;
	width: 100%;
}

.p-news {
	padding-bottom: 7rem;
	padding-top: 12rem;
}

.p-news__inner {
	position: relative;
}

.p-news__container {
	-o-border-image: linear-gradient(to bottom, #FF6584, #79A2DC) 1;
	border: 2px solid;
	border-image: linear-gradient(to bottom, #FF6584, #79A2DC) 1;
	margin: 0 auto;
	max-width: 82rem;
	padding: 3rem 0 7rem;
	transform: translateX(0.5rem);
}

.p-news__list {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
	margin-left: 6.2rem;
	margin-top: 4.2rem;
}

.p-news__item {
	max-width: 80%;
}

.p-news__itemLink {
	display: block;
	transition: opacity 0.3s;
}

.p-news__tagBox {
	display: flex;
	gap: 1.3rem;
}

.p-news__tag,
.p-news__tag--orange {
	align-items: center;
	background: linear-gradient(89deg, #EA883C 0.48%, #F4E061 99.52%);
	border-radius: 0.7rem;
	color: #fff;
	display: flex;
	font-size: 1.4rem;
	font-weight: 500;
	justify-content: center;
	line-height: 1;
	max-height: 2rem;
	max-width: 6.3rem;
	width: 100%;
}

.p-news__tag--orange {
	background: linear-gradient(89deg, #FF6584 0.48%, #FAC0C4 99.52%);
}

.p-news__date {
	color: #000;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: normal;
}

.p-news__text {
	color: #000;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: normal;
	margin-left: 0.5rem;
	margin-top: 0.9rem;
	margin-top: 0.4rem;
}

.p-news__imgBox {
	bottom: -7.1rem;
	max-width: 24.5rem;
	position: absolute;
	right: -10.8rem;
	width: 100%;
}

.p-news__bgImgTopLeft {
	left: 14.4rem;
	max-width: 14.6rem;
	position: absolute;
	top: -7rem;
}

.p-news__bgImgTopRight {
	max-width: 22.4rem;
	position: absolute;
	right: 4.1rem;
	top: -4.8rem;
}

.p-news__bgImgBottomLeft {
	bottom: -0.4rem;
	left: 0.7rem;
	max-width: 23rem;
	position: absolute;
}

.p-news__bgImgBottomRight {
	bottom: -6.1rem;
	max-width: 14.1rem;
	position: absolute;
	right: 2.3rem;
}

.p-news__bgImgTopLeftSP {
	left: -1rem;
	max-width: 9.4rem;
	position: absolute;
	top: -4.8rem;
	z-index: -1;
}

.u-separate {
	margin-bottom: 24px;
	margin-top: 24px;
}

.u-active-pc {
	display: none;
}

.u-active-tab {
	display: none;
}

.u-active-sp {
	display: none;
}

/* u-dispNone
----------------------------------------------------------------- */

.u-dispNone--NU {
	display: block;
}

.u-dispNone--NO {
	display: none;
}

.u-dispNone--PU {
	display: block;
}

.u-dispNone--PO {
	display: none;
}

.u-dispNone--flexPU {
	display: flex;
}

.u-dispNone--flexPO {
	display: none;
}

@media screen and (min-width: 376px) and (max-width: 768px) {

html {
	font-size: 2.6666666667vw;
}

}

@media screen and (min-width: 769px) and (max-width: 1280px) {

html {
	font-size: 0.78125vw;
}

}

@media screen and (min-width: 770px) {

.c-roundBtn__link:hover::before {
	opacity: 0;
}

.c-sns__link:hover {
	opacity: 0.7;
}

.p-header__logoLink:hover {
	opacity: 0.7;
}

.p-news__itemLink:hover {
	opacity: 0.7;
}

}

@media screen and (min-width: 1100px) {

.u-hidden-pc {
	display: none;
}

.u-active-pc {
	display: block;
}

}

@media screen and (max-width: 1280px) {

.u-dispNone--NU {
	display: none;
}

.u-dispNone--NO {
	display: block;
}

}

@media screen and (max-width: 1099px) {

.u-hidden-tab {
	display: none;
}

.u-active-tab {
	display: block;
}

}

@media screen and (max-width: 768px) {

.l-inner,
.l-inner--large {
	padding-left: 2rem;
	padding-right: 2rem;
}

.l-inner--large {
	padding-left: 1.4rem;
}

.c-sns__read {
	color: #000;
	display: flex;
	font-size: 2rem;
	font-weight: 500;
	line-height: normal;
}

.c-secondHeading,
.c-secondHeading--fzLargeSP {
	font-size: 2.4rem;
	margin-left: 0;
}

.c-secondHeading--fzLargeSP {
	font-size: 3.2rem;
	margin-left: -1.4rem;
}

.p-header {
	height: 5.6rem;
}

.p-header::after {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.p-header__inner {
	margin-top: 0;
}

.p-header__logoLink {
	width: 13.7rem;
}

.p-mv__inner {
	margin-top: 9.2rem;
}

.p-mv__col {
	display: grid;
	gap: 0;
}

.p-mv__txtContainer {
	display: contents;
}

.p-mv__read {
	font-size: 1.4rem;
	margin-right: calc(50% - 50vw);
}

.p-mv__mainText {
	font-size: 2.4rem;
}

.p-mv__mainTextSp {
	font-size: 2.2rem;
	font-weight: 700;
	line-height: normal;
	margin-top: auto;
}

.p-mv__mainTextLarge {
	font-size: 2.4rem;
	margin-top: 1rem;
}

.p-mv__pointList {
	gap: 1.5rem;
	justify-content: center;
	margin-top: 1.9rem;
	order: 3;
}

.p-mv__pointItem {
	height: 8.6rem;
	width: 8.6rem;
}

.p-mv__pointText,
.p-mv__pointText--mtLarge {
	font-size: 1.4rem;
}

.p-mv__pointTextLarge {
	font-size: 1.8rem;
	margin-top: 0.1rem;
}

.p-mv__pointTextSmall {
	font-size: 1.2rem;
	margin-top: 0.3rem;
}

.p-mv__btnContainer {
	margin: 3rem auto 0;
	order: 4;
}

.p-mv__btnText {
	font-size: 1.6rem;
	margin-left: 0;
}

.p-mv__btnText::before,
.p-mv__btnText::after {
	height: 2.3rem;
}

.p-mv__btnText::before {
	left: -1.2rem;
	transform: translateY(-39%) rotate(-30deg);
}

.p-mv__btnText::after {
	transform: translateY(-39%) rotate(30deg);
}

.p-mv__btnBox {
	margin-top: 1.1rem;
}

.p-mv__imgContainer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
	max-width: 30.1rem;
}

.p-about {
	margin-top: 6.4rem;
}

.p-about__col {
	flex-direction: column;
	gap: 4.5rem;
	margin-left: 0;
	margin-top: 3.1rem;
}

.p-about__colImgBox {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: 100vw;
}

.p-about__colTitle {
	font-size: 2rem;
}

.p-about__colText {
	font-size: 1.4rem;
	margin-top: 1.4rem;
}

.p-about__listArea {
	margin-top: 2.8rem;
	padding: 3.5rem 2% 5.6rem;
}

.p-about__listHeading {
	font-size: 2rem;
}

.p-about__listHeading::before,
.p-about__listHeading::after {
	display: none;
}

.p-about__list {
	flex-direction: column;
	gap: 6rem;
	margin-top: 3.5rem;
}

.p-about__item {
	min-height: unset;
}

.p-about__head {
	margin: 0 auto;
}

.p-about__body {
	margin-top: 2.4rem;
}

.p-about__bodyText {
	max-width: 25.4rem;
}

.p-news {
	padding-bottom: 22rem;
	padding-top: 9rem;
	position: relative;
	width: 100%;
}

.p-news__container {
	padding: 3.5rem 1.5rem 9rem 2.1rem;
	transform: unset;
}

.p-news__list {
	margin-left: 0;
	margin-top: 3.2rem;
}

.p-news__item {
	max-width: 100%;
}

.p-news__tagBox {
	gap: 1.2rem;
}

.p-news__text {
	font-size: 1.4rem;
	margin-left: 0;
	margin-top: 0.5rem;
}

.p-news__imgBox {
	bottom: -15.9rem;
	left: 50%;
	right: unset;
	transform: translateX(-50%);
}

.p-news__bgImgTopLeft {
	left: 0;
	max-width: 10rem;
	top: 0;
}

.p-news__bgImgTopRight {
	bottom: -21.6rem;
	max-width: 14.4rem;
	right: -0.6rem;
	top: unset;
	z-index: -1;
}

.u-hidden-sp {
	display: none;
}

.u-active-sp {
	display: block;
}

.u-dispNone--PU {
	display: none;
}

.u-dispNone--PO {
	display: block;
}

.u-dispNone--flexPU {
	display: none;
}

.u-dispNone--flexPO {
	display: flex;
}

}

@media screen and (max-width: 375px) {

html {
	font-size: 2.6666666667vw;
}

}

