*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a {
	cursor: pointer;
	text-decoration: none;
}

html {
	font-size: 62.5%;
}

body {
	color: #2f2e2e;
	font-family: "Noto Sans JP", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

.l-inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1080px;
	padding-left: 40px;
	padding-right: 40px;
}

.u-separate {
	margin-bottom: 24px;
	margin-top: 24px;
}

.u-active-pc {
	display: none;
}

.u-active-tab {
	display: none;
}

.u-active-sp {
	display: none;
}

/* u-dispNone
----------------------------------------------------------------- */

.u-dispNone--NU {
	display: block;
}

.u-dispNone--NO {
	display: none;
}

.u-dispNone--PU {
	display: block;
}

.u-dispNone--PO {
	display: none;
}

.u-dispNone--flexPU {
	display: flex;
}

.u-dispNone--flexPO {
	display: none;
}

@media screen and (min-width: 1100px) {

.u-hidden-pc {
	display: none;
}

.u-active-pc {
	display: block;
}

}

@media screen and (max-width: 1280px) {

.u-dispNone--NU {
	display: none;
}

.u-dispNone--NO {
	display: block;
}

}

@media screen and (max-width: 1099px) {

.u-hidden-tab {
	display: none;
}

.u-active-tab {
	display: block;
}

}

@media screen and (max-width: 767px) {

.l-inner {
	padding-left: 20px;
	padding-right: 20px;
}

.u-hidden-sp {
	display: none;
}

.u-active-sp {
	display: block;
}

.u-dispNone--PU {
	display: none;
}

.u-dispNone--PO {
	display: block;
}

.u-dispNone--flexPU {
	display: none;
}

.u-dispNone--flexPO {
	display: flex;
}

}

